#gauche{
  background-color:#e5872a;
}

.shadow_gauche {
 box-shadow:1px 0 5px white;
 -moz-box-shadow:1px 0 5px white;
 -webkit-box-shadow:1px 0 5px white;
 -o-box-shadow:1px 0 5px white;
 -ms-box-shadow:1px 0 5px white;
}
  
#centre{
  background-color:#ffc777;
  }
  
#gauche ul li a{
  background:rgba(253,191,103,0.9);
}